# Baruch AIS: Workshop Series

### Lesson 1: Introduction  (1.5hr)   12:30 PM - 2PM

##### 1. Jupyter Online / Google Colab (10-15 min)
##### 2. Yahoo Finance (5 min)
##### 3. Importing Libraries (5-10 min)

In [1]:
#if issues running any of these make sure to install first with the command: 
# pip install pandas 
#pip install numpy 
# pip install matplotlib.pyplot

import pandas as pd     #everything else
import numpy as np        #calculations
import pandas_datareader as pdr       #pandas datareader to get stock data
from scipy import stats    # statistics
import datetime

In [2]:
#Make it interactive for user


symbolA= input("Enter Ticker Symbol for StockA: ")
symbolB= input("Enter Ticker Symbol for StockB: ")


#User enters the start date of stock analysis
date_entry = input('Enter a start date in YYYY-MM-DD format: ')
year, month, day = map(int, date_entry.split('-'))
start = datetime.date(year, month, day)

# User enters the end date of stock analysis
date_entry = input('Enter an end date in YYYY-MM-DD format: ')
year, month, day = map(int, date_entry.split('-'))
end = datetime.date(year, month, day)

Enter Ticker Symbol for StockA: TSLA
Enter Ticker Symbol for StockB: AAPL
Enter a start date in YYYY-MM-DD format: 2019-01-01
Enter an end date in YYYY-MM-DD format: 2020-01-01

In [3]:
## Import data from Yahoo
TSLA= pdr.DataReader(symbolA, 'yahoo', start, end)
AAPL= pdr.DataReader(symbolB, 'yahoo', start, end)

In [4]:
## Explore stocks

TSLA.head(10)   #first ten rows

TSLA.tail(10)    #last ten rows

                 High        Low       Open      Close    Volume  Adj Close
Date
2019-12-17  77.099998  75.180000  75.797997  75.797997  42484000  75.797997
2019-12-18  79.043999  76.115997  76.125999  78.629997  70605000  78.629997
2019-12-19  81.370003  79.300003  79.463997  80.807999  90535500  80.807999
2019-12-20  82.599998  80.038002  82.057999  81.117996  73763500  81.117996
2019-12-23  84.402000  82.000000  82.356003  83.844002  66598000  83.844002
2019-12-24  85.094002  82.538002  83.671997  85.050003  40273500  85.050003
2019-12-26  86.695999  85.269997  85.582001  86.188004  53169500  86.188004
2019-12-27  87.061996  85.222000  87.000000  86.075996  49728500  86.075996
2019-12-30  85.800003  81.851997  85.758003  82.940002  62932000  82.940002
2019-12-31  84.258003  80.416000  81.000000  83.666000  51428500  83.666000

In [5]:
## only keep columns that you want to analyze

TSLA_= TSLA[["Adj Close"]]

In [6]:
# are there missing values?

TSLA_.isnull().sum()

Adj Close    0
dtype: int64

In [7]:
## Identify index and columns + rename a column

TSLA_.index
TSLA_.columns

TSLA_.rename(columns = {"Adj Close": "Adj_Close"}, inplace= True)

/Users/sandra/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [8]:
TSLA_.head()

            Adj_Close
Date
2019-01-02  62.023998
2019-01-03  60.071999
2019-01-04  63.537998
2019-01-07  66.991997
2019-01-08  67.070000

In [9]:
# Find the highest,lowest and mean value in Adj_Close

#TSLA_.Adj_Close.max()

#TSLA_.Adj_Close.min()

TSLA_.Adj_Close.max()

86.18800354003906

### Lesson 2: Statistical Analysis  12:30 PM - 2PM

Make sure to load the code above before continuing

In [10]:
# create df for AAPL with only the adjusted close

AAPL_ = AAPL[["Adj Close"]]
AAPL_.rename(columns ={"Adj Close": "Adj_Close"}, inplace= True)
AAPL_.head()


#min and max are self-explanatory
# count: how many values in this column

#25%: 75 % of data are higher than $46
# 50%: 50% of values are higher than $52 --> almost equal to mean
# 75%: only 25% of values are higher than $62

/Users/sandra/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

            Adj_Close
Date
2019-01-02  38.505024
2019-01-03  34.669640
2019-01-04  36.149662
2019-01-07  36.069202
2019-01-08  36.756794

### I. Trend Analysis

#### Question 1: Does my stock follow an upward/downward trend?

##### Use Exponential Moving Average (EMA): puts more weight on the most recent price (weighted average)
Tips: useful for short-term traders, the shorter the period, the more sensitive to price changes

In [11]:
#ewm= exponential weighted moving average, span = number of days
#why should you use a function? because you have to repeat this process for each stock

def trend_analysis(df):
    df['Weighted_Moving_Average'] = df['Adj_Close'].ewm(span=3, adjust=False).mean()
    df['Moving Average'] = df["Adj_Close"].rolling(window= 2).mean()
    
    return df

In [12]:
trend_analysis(AAPL_)
trend_analysis(TSLA_)

<ipython-input-11-010c8ad44e1b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weighted_Moving_Average'] = df['Adj_Close'].ewm(span=3, adjust=False).mean()
<ipython-input-11-010c8ad44e1b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Moving Average'] = df["Adj_Close"].rolling(window= 2).mean()

            Adj_Close  Weighted_Moving_Average  Moving Average
Date
2019-01-02  62.023998                62.023998             NaN
2019-01-03  60.071999                61.047998       61.047998
2019-01-04  63.537998                62.292998       61.804998
2019-01-07  66.991997                64.642498       65.264997
2019-01-08  67.070000                65.856249       67.030998
...               ...                      ...             ...
2019-12-24  85.050003                83.470209       84.447002
2019-12-26  86.188004                84.829106       85.619003
2019-12-27  86.075996                85.452551       86.132000
2019-12-30  82.940002                84.196277       84.507999
2019-12-31  83.666000                83.931139       83.303001

[252 rows x 3 columns]

In [13]:
TSLA_.describe()

        Adj_Close  Weighted_Moving_Average  Moving Average
count  252.000000               252.000000      251.000000
mean    54.706040                54.619107       54.633773
std     10.606053                10.354508       10.508182
min     35.793999                36.628205       36.413000
25%     46.444001                46.646283       46.421500
50%     52.059000                52.094699       52.172001
75%     62.382000                62.153718       61.960500
max     86.188004                85.452551       86.132000

In [14]:
#It seems like an upward trend but we will plot it later to assure
AAPL_

            Adj_Close  Weighted_Moving_Average  Moving Average
Date
2019-01-02  38.505024                38.505024             NaN
2019-01-03  34.669640                36.587332       36.587332
2019-01-04  36.149662                36.368497       35.409651
2019-01-07  36.069202                36.218850       36.109432
2019-01-08  36.756794                36.487822       36.412998
...               ...                      ...             ...
2019-12-24  70.353882                70.041272       70.320473
2019-12-26  71.749733                70.895502       71.051807
2019-12-27  71.722488                71.308995       71.736111
2019-12-30  72.148178                71.728587       71.935333
2019-12-31  72.675339                72.201963       72.411758

[252 rows x 3 columns]

### II. Risk Analysis

#### Question 2: How risky is my stock?

In [14]:
TSLA_.Adj_Close.std()

10.60605338485959

In [15]:
#Create a function that compares the calculates the standard deviation and returns which stock has a higher risk

def risk_analysis(df1, df2):
    std_SymbolA= df1.Adj_Close.std()
    std_SymbolB= df2.Adj_Close.std()
    
    if std_SymbolA > std_SymbolB:
        print ("Tesla Stock is riskier than Apple Stock!")
    else:
        print ("Apple Stock is riskier than Tesla Stock!")

In [16]:
risk_analysis(TSLA_, AAPL_)

Tesla Stock is riskier than Apple Stock!

### III. Return Analysis

Daily Returns Tesla and Apple

In [17]:
def daily_return_analysis(df):
    df["Daily_Returns"]= df['Adj_Close'].pct_change()
    
    return df

In [19]:
daily_return_analysis(TSLA_)
daily_return_analysis(AAPL_)

<ipython-input-17-ebd28f4e150d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Daily_Returns"]= df['Adj_Close'].pct_change()

            Adj_Close  Weighted_Moving_Average  Moving Average  Daily_Returns
Date
2019-01-02  38.505024                38.505024             NaN            NaN
2019-01-03  34.669640                36.587332       36.587332      -0.099607
2019-01-04  36.149662                36.368497       35.409651       0.042689
2019-01-07  36.069202                36.218850       36.109432      -0.002226
2019-01-08  36.756794                36.487822       36.412998       0.019063
...               ...                      ...             ...            ...
2019-12-24  70.353882                70.041272       70.320473       0.000951
2019-12-26  71.749733                70.895502       71.051807       0.019840
2019-12-27  71.722488                71.308995       71.736111      -0.000380
2019-12-30  72.148178                71.728587       71.935333       0.005935
2019-12-31  72.675339                72.201963       72.411758       0.007307

[252 rows x 4 columns]

In [20]:
TSLA_Monthly_Returns= AAPL_["Adj_Close"].resample('M').ffill().pct_change()[1:]

AAPL_Monthly_Returns= AAPL_["Adj_Close"].resample('M').ffill().pct_change()[1:]

In [21]:
TSLA_Monthly_Returns

Date
2019-02-28    0.044777
2019-03-31    0.097026
2019-04-30    0.056436
2019-05-31   -0.124213
2019-06-30    0.130519
2019-07-31    0.076394
2019-08-31   -0.016461
2019-09-30    0.072962
2019-10-31    0.110684
2019-11-30    0.077554
2019-12-31    0.098784
Freq: M, Name: Adj_Close, dtype: float64

In [ ]:
#Records were reduced by a lot --> monthly 
print (TSLA_Monthly_Return.shape)
print (AAPL_Monthly_Return.shape)

#### Thank you for attending :)

### COMING UP: DATA VISUALIZATION 03/09/2021

In [ ]:
#Data Visualization
%matplotlib inline
#sns.set_style('whitegrid')
import seaborn as sns 
import matplotlib.pyplot as plt    
from matplotlib import style
#if not included must always use plt.show()